### Problem Statement

Build the linear regression model using scikit learn in boston data to predict 'Price'
based on other dependent variable.
Here is the code to load the data
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()
bos = pd.DataFrame(boston.data)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
from  sklearn.linear_model import LinearRegression

#### Loading boston data

In [29]:
boston = load_boston()
bos = pd.DataFrame(boston.data,columns=boston.feature_names)

#### Loading  (X -  values)

In [30]:
x = bos # independent variables
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

#### Loading  (Y -value) --> Price

In [4]:
y = pd.DataFrame(boston.target,columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

#### Traing LinearRegression

In [31]:
lm = LinearRegression()
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

#### Take new X value for predicting Price(y) value

In [32]:
x_New = pd.DataFrame({'CRIM':0.38,'ZN':0,'INDUS':6.3,'CHAS':0,'NOX':0.5,'RM':8.9,'AGE':82.3,'DIS':3.4,'RAD':9.0,'TAX':305,'PTRATIO':19.5,'B':345,'LSTAT':3.56},index=[0])
x_New

    AGE    B  CHAS  CRIM  DIS  INDUS  LSTAT  NOX  PTRATIO  RAD   RM  TAX  ZN
0  82.3  345     0  0.38  3.4    6.3   3.56  0.5     19.5  9.0  8.9  305   0

#### Predict Price(y) value for above x value

In [27]:
y_predict = lm.predict(x_New)
pd.DataFrame(y_predict,columns=['Price'])

       Price
0  15.451725